html{
    scrollbar-gutter: stable!important;
}
.remove-btn{
   background-color: transparent;
   border: none;
   box-shadow: none; 
}
.edit-color{
    color: #333;
}
.post-link{
    text-decoration: none;
}
p{
    margin-bottom: 2px!important;
    margin-top: 2px!important;
}
.post-text{
    padding:0.5rem;
    margin-bottom: 0;
}
.post-img{
    float: left;
    margin-right:1rem;
}
.post-image{
    max-width:100%;
    height:auto;
    border-radius :10px;
    margin-bottom: 10px;
}
.child-comment{
    margin-left:2rem;
}
.notification-badge{
    transition: 0.3s;
}
.notification-badge:hover{
    cursor:pointer;
    opacity:0.75;
    transition: 0.3s;
}

.dropdown{
    position:relative;
    display: inline-block;
}

.dropdown-content{
    position: absolute;
    background-color:#f1f1f1;
    min-width: 100%;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    z-index:1;
    font-size: 0.9rem;
    left: -65px;
}
.dropdown-content a{
    color:#000;
    padding:12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    background-color: #ddd;
    text-decoration: none;
    color:#000;
}
.dropdown-item-parent{
    position:relative;
    display: block;
}
.dropdown-item-close{
    position:absolute;
    top:0;
    right: 0;
    font-size: 1.8rem;
    padding-right: 5px;
    transition: 0.3s;
}

.dropdown-item-close:hover{
    color: rgb(180,25,25);
    transition: 0.3s;
    cursor:pointer;
}
.inbox-icon-container{
    margin-right: 15px;
}
.inbox-icon{
    color: #333;
    transition: 0.5s;
}
.inbox-icon:hover{
    transition: 0.5s;
}
.empty-text{
    color: #777;
    font-size: 1.5rem;
    text-align: center;
}

.sent-message{
    background-color:#f3f3f3;
    border-radius: 30px;
    padding: 10px 25px;
    width: 35%;
}
.received-message{
    background-color: rgb(1,196,255);
    color: #fff;
    border-radius:30px;
    padding: 10px 25px;
    width: 35%;
}
.message-receiver-container{
    margin-left: auto;
    margin-right: 0;
}

.message-image{
    border-radius: 10px;
}
.img100percent{
    width: 100%!important;
}
.inbox-icon{
    margin-right: 5px;
}
.share-btn{
    cursor: pointer;
}
.shared-post{
    margin-left:50px;
}
.body a{
    text-decoration: none;
    margin-left: 5px;
}
.remove-default-btn{
    background-color:#d5d6d6;
}
.comment-post{
    margin-left: 4px;
}
.list-group-item{
    padding: 0.2rem!important;
}
.sub-container-1{
    margin: 0 auto;
    margin-top: 5px;
    float:left;
}
.sub-container-1 ul{
    min-width: 75%;
    text-align: center;
    font-size: 20px;
    margin: 0rem!important;
}
.sub-container-1 li a{
    text-decoration: none;
    min-width: 100%;
    padding: 5px 25px 5px 25px;
    font-weight: bold;
    color: #00a1ff;
}
.sub-container-1 li{
    min-width: 100%;
    padding:0px 5px 0px 5px;
}

.sub-container-2{
    width: 45%!important;
    margin-left: 20rem;
    margin-right: 2rem;
}

.sub-container-2 div{
    width: 100%!important;
    margin-bottom: 5px;
}

.Tags-Title{
    font-size: 20px!important;
    color: white!important;
    font-weight: bold;
}

.sub-container-3{
    margin: 0 auto;
    margin-top: 5px;
    float: right;
    display: flex;
}
.sub-container-3 ul{
    min-width: 75%;
    text-align: center;
    font-size: 15px;
    margin: 0rem!important;
}
.sub-container-3 li a{
    text-decoration: none;
    min-width: 100%;
    font-weight: bold;
    color: #00a1ff;
}
.sub-container-3 li{
    min-width: 100%;
    padding:0px 5px 0px 5px;
}
.post-video{
    max-width:100%!important;
}
video{
    border-radius: 10px;
}
.space{
    margin-top: 7rem;
}
.languages{
    position: relative;
}
.languages span:hover{
    background-color: brown;
}
.languages ul{
    top: 42px;
    position: absolute;
    left: -15px;
    padding: 0;
    background-color: hsl(202, 100%, 50%);
    text-align: center;
    display: none;
}
ul li{
    display: block;
    padding: 5px;
    color: white;
    border: white 2px solid;
}
ul li a{
    text-decoration: none;
    color: white;
}